:root {
  --primary-text-color: #000000;
  --accent-color: #2196f3;
  --primary-contact-color: #757575;
  --primary-wite-color: #ffffff;
  --background-color: #e5e5e5;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.no-link {
  text-decoration: none;
}

/* page header */
.header {
  background-color: #ffffff;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.name-company-web {
  color: #2196f3;
}

/* navigation */
.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contact */
.header-contact .link {
  color: var(--primary-contact-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
}
/* hero */

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* особенности */
/* чем мы занимаемся */
/* наша команда */
.team {
  background-color: #f5f4fa;
}
/* footer */
.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
}
.footer .logo,
.footer .maps {
  color: #ffffff;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* porfolio.html */

.btn-filter {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}
.filter .btn-filter:hover,
.filter .btn-filter:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
}
