:root {
  --primary-text-color: #00000;
  --accent-color: #2196f3;
  --primary-contact-color: #757575;
  --primary-wite-color: #ffffff;
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

/* page header */
/* Logo */
.name-company-web {
  color: #2196f3;
}

/* navigation */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contact */
.site-contact .link {
  color: var(--primary-contact-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}
/* hero */

.button {
  color: #ffffff;
  background-color: #2196f3;
}
/* особенности */
/* чем мы занимаемся */
/* наша команда */
/* footer */

/* portfolio.html */

.btn-filter {
  background-color: #f5f4fa;
  color: #212121;
}
.filter .btn-filter:hover,
.filter .btn-filter:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
}
